<head>
<title>
  Main Page
</title>
</head>


<div class="container py-5 d-inline-flex p-2 bd-highlight">
<span>

<form action="/users" method="post">

  <div class="input-group">
    <input type="text" id="numInput" class="form-control" name = "n" placeholder="Number of Users to Create">
    <span class="input-group-btn">
    <button class="btn btn-primary" type="submit">Create</button>
  </span>
  </div>
</form>

</span>

  <h5 class="text-white">
    s
  </h5>


    <form action="/users/destroy" method="post">
  <div class="form-group">
    <button type="submit" id="destroyButton" class="btn btn-danger">Destroy</button>
  </div>
</form>

  <h5 class="text-white">
    s
  </h5>

<!--  <form action="/" method="get">-->
<!--    <div class="form-group">-->
<!--      <button type="submit" class="btn btn-primary">Refresh</button>-->
<!--    </div>-->
<!--  </form>-->

  <a href="/" class="btn btn-info h-25">
    <span class="glyphicon glyphicon-refresh"></span> Refresh
  </a>

</div>




<section class="bg-light text-center py-5">
  <h2>User Table</h2>
  <div class="container">
    <p>
      Total Number: <%= @users.size %>
    </p>
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="text-center">User Name</th>
        <th class="text-center">User Email</th>
        <th class="text-center">User Bio</th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user["name"] %></td>
          <td><%= user["email"] %></td>
          <td><%= user["bio"] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</section>





